#Ammunition {
    max-width: 100vw;

    .horizontal-scroll {
        padding-top: 8rem;
    }

    table {
        margin-bottom: 1rem;
        overflow-x: scroll;
        td {
            text-align: left;
            padding-left: 0.5rem;
        }

        th {
            text-align: center;
            user-select: none;
            &.clickable {
                &:hover {
                    color: DARK_GOLD;
                }
            }
        }

        th.stk {
            border-bottom: 1px solid DIM_DARK_GOLD;
            text-align: center;
        }

        .right {
            text-align: right;
        }

        tr.odd {
            td {
                background-color: darken(DIM_DARK_GOLD, 50%);
            }
        }
    }


    .MultiSelect {
        width: 40rem;
    }
    .MultiSelect-value {
        width: 4rem;
        //text-align: right;
    }

    .name-table {
        white-space: nowrap;
        td, th {
            min-width: 10rem;
        }
    }
}

#shots-to-kill-help {
    position: relative;
    div {
        display: none;
        position: absolute;
        background-color: DIM_DARK_GOLD;
        color: WHITE;
        max-width: 100vw;
        width: 30rem;
        right: 0;
        top: 1rem;
        z-index: 1;
        padding: 1rem;
        border: 1px solid DARK_GOLD;
        p {
            margin-top: 0.5rem;
        }
    }
    &:hover {
        div {
            display: inline-block
        }
    }
}
