#Armor {
    #builders-container {
        text-align: center;
    }
    #builders {
        display: inline-flex;
        flex-direction: row;

        > div {
            margin: 1rem;
            text-align: left;
        }
    }

    .ammo-names {
        td {
            text-align: left;
        }
    }
    .stk-values {
        td {
            text-align: right;
        }
    }
}

