#Armor {
    max-width: 100vw;

    table {
        margin-bottom: 1rem;
        overflow-x: scroll;
        td {
            text-align: left;
            padding-left: 0.5rem;
            white-space: nowrap;
        }
    }


    #builders-container {
        text-align: center;
    }
    #builders {
        max-width: 100vw;
        overflow-x: auto;

        > div {
            margin: 1rem;
            text-align: left;
            > table {
                margin: auto;
                margin-top: 6rem;
            }
        }
    }

    .armor-builder {
        th:first-child {
            min-width: 12rem;
        }

        th.armor-material, td.armor-material {
            min-width: 8rem;
        }
    }

    .ammo-names {
        td {
            text-align: left;
        }
    }
    .stk-values {
        td {
            text-align: right;
        }
    }
}

