#Armor {
    #builders-container {
        text-align: center;
    }
    #builders {
        > div {
            margin: 1rem;
            text-align: left;
            > table {
                margin: auto;
                margin-top: 6rem;
            }
        }
    }

    .armor-builder {
        th:first-child {
            min-width: 12rem;
        }

        th.armor-material, td.armor-material {
            min-width: 12rem;
        }
    }

    .ammo-names {
        td {
            text-align: left;
        }
    }
    .stk-values {
        td {
            text-align: right;
        }
    }
}

