.ItemBuilder {
    select {
        max-width: 9rem;
    }

}

.indent {
    display: inline-block;
    min-width: 1rem;
    width: 1rem;
}

.durability-input {
    font-size: 1rem;
    width: 2rem;
}
