.MultiSelect {
    font-family: "Bender";
    margin: auto;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.MultiSelect-value {
    color: DARK_GOLD;
    border: 1px solid transparent;
    border-radius: .2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    cursor: pointer;

    &:hover, &.active {
        border: 1px solid darken(DARK_GOLD, 50%);
        color: BLACK;
    }
    &.active {
        background-color: DIM_DARK_GOLD;
    }
    &:hover {
        background-color: DARK_GOLD;
    }
}
